.section-intro {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &.demo-desktop {
    .container {
      width: 100%;
      display: flex;
    }

    .i-message {
      margin: auto;
    }

    .center-col {
      width: 33.333%;
    }

    .text-wrap {
      max-width: 400px;
    }


    .left-col {
      width: 33.333%;

      .text-wrap {
        margin: 0 0 0 auto;
        opacity: 0;
      }
    }

    .right-col {
      width: 33.333%;

      .text-wrap {
        margin: 0 auto 0 0;
        opacity: 0;
      }
    }
  }

  &.demo-mobile {
    .i-message {
      margin: auto;
    }

    .center-col {
      width: 33.333%;
    }

    .text-wrap {
      max-width: 400px;
    }


    .left-col {
      width: 33.333%;

      .text-wrap {
        margin: 0 0 0 auto;
        opacity: 0;
      }
    }

    .right-col {
      width: 33.333%;

      .text-wrap {
        margin: 0 auto 0 0;
        opacity: 0;
      }
    }
  }
}