@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

@import "_reset.scss";
@import "mixins.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}


.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;
}

section {
  padding: 0 20px;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

.section-spacer-1 {
  background: #4ca5ff;
  height: 100vh;
}

.section-spacer-2 {
  background: #ba3f00;
  height: 300px;
}

.section-spacer-3 {
  background: #31c583;
  height: 600px;
}

@import "partials/section-intro";
@import "partials/i_message";
